<div class="container">
    <div class="row">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Ingrese el nombre de la pelicula" aria-label="Ingrese el nombre de la pelicula" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#each products}}
                {{>itemProduct this}}
            {{/each}}
        </div>
    </div>
</div>