<ul class="list-group list-group-flush">
    {{#each products}}
        <li class="list-group-item">
            <div class="row">
                <div class="col-8 h1">{{title}}</div>
                <div class="col-4 h2">$ {{price}}</div>
            </div>
            <div class="row">
                <div class="col-12 lead">{{description}}</div>
            </div>
        </li>
    {{/each}}
</ul>